name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'

    - name: Run Python unit tests
      run: python3 -u -m unittest tests/tests.py

    - name: Verify that the Docker image for the action builds
      run: docker build . --file Dockerfile

    - name: Integration test
      id: integration
      if: ${{ github.event_name == 'pull_request' }}
      uses: ./
      with:
        action-list: >
          cicirello/jacoco-badge-generator
        target-directory: tests/endpoints
        commit-and-push: false
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Output the outputs of the integration test of the action
      if: ${{ github.event_name == 'pull_request' }}
      run: |
        echo "exit-code = ${{ steps.integration.outputs.exit-code }}"

    - name: Verify integration test results
      if: ${{ github.event_name == 'pull_request' }}
      run: python3 -u -m unittest tests/integration.py

    - name: Upload generated JSON endpoints as workflow artifacts for inspection if necessary
      if: ${{ github.event_name == 'pull_request' }}
      uses: actions/upload-artifact@v5
      with:
        name: endpoints
        path: tests/endpoints/
